@charset "UTF-8";
/* CSS Document */

/* Add a black background color to the top navigation */
.topnav {
  text-align: center;
  background-color: #0062A5;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: #ffffff;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-family: 'Kanit', sans-serif;
  font-size: 27px;
  
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #Ffffff;
  color: #222b5c;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #222b5c;
  color: white;
}

div {
	padding:5px;
	border-radius:5px;
}

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width: 75%;
	margin:0 auto;    /* centers wrapper */
}

body {
	text-align: justify;
	background-color:#bcbec0;   /* background color */
	color: #444;          /* text color for the entire page */
	font-size: 19px;
	font-family: Open Sans;

}

h1 { 
	padding:9px;
	text-align:center;     /* centers h1 content */
	background: #222b5c;
	color: white;       /* Text color for the h1 content*/
	border-radius:5px;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: 'Tilt Neon', sans-serif;

}

h2 { 
	padding: 9px;
	text-align:center;     /* centers h2 content */
	background: #d1d3d4;
	color: #222b5c       /* Text color for the h2 content*/
	border-radius:5px;
	font-size: 25px;
	letter-spacing: 1px;
	font-family: 'Tilt Neon', sans-serif;

}

h3 { 
	font-size: 13px;
	letter-spacing: 1px;
	text-align:center;
	color: black
	font-weight:bold;
	font-family: Open Sans;

}

h4 { 
	font-size: 15px;
	letter-spacing: 1px;
	text-align:center;
	color: black
	font-weight:bold;
	font-family: Open Sans;

}


strong {
  font-weight: 1200;
}

.body { 
	background-color: #ffffff;
	padding:9px;
	justify-content: center;
}

.responsive {
  width: 100%;
  height: auto;
}

.responsive2 {
  width: 40%;
  height: auto;
}

.responsive3 {
  width: 8%;
  height: auto;
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	color: #222b5c;
	padding:10px;
	text-align:left;
	background-color:#d1d3d4;
	font-weight: bold;
	font-size: 125%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	
}

.stepContent{ 
	background-color: white;
	padding:7px;
	text-align:left;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.stepDescription {
	width:55%;
	padding:5px;
	line-height:145%;
}

.stepImage {
	width:40%;	
	padding:5px;
	text-align: center;
	z-index:999; 
	cursor: pointer; 
	-webkit-transition-property: all; 
	-webkit-transition-duration: 0.3s; 
	-webkit-transition-timing-function: ease; 
}

.stepImage img {
    width:100%;
    height:auto;
}

.stepImage:hover { 
transform: scale(2); 

}


.warning {
	background-color: #C8DFEF;
	padding:20px;
	border-radius:20px;
} 

.material-icons {
	color:#222B5C; 
	font-size:10em;
	vertical-align: middle
}

#front_presentation {
  border: black 5px solid;
}

#back_presentation {
  display: none; /* hides content */
  border: black 5px solid;
}

#front_video {
  border: black 5px solid;
}

#back_video {
  display: none; /* hides content */
  border: black 5px solid;
}

#front_hotspot {
  border: black 5px solid;
}

#back_hotspot {
  display: none; /* hides content */
  border: black 5px solid;
}

.choices {
  cursor: pointer;
  width: 100%;
  height: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}


table {
  margin: 0 auto; /* centers table*/
}

